/*
  SHARKSHARK - WORDPRESS DASHBOARD THEME
  created by: Will Thresher (w@sharkshark.co)
  *** NOT TO BE COPIED WITHOUT PERMISSION
*/

html,
body,
#wpadminbar {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

#wpadminbar *{
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

#wp-admin-bar-wp-logo,
body.login div#login .forgetmenot,
body.login div#login p#backtoblog {
  display: none !important;
}

a,
a:hover,
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus {
  color: #555;
}

.login h1 a {
  background-image: url('https://1ms0qa1079r640vuic1bused-wpengine.netdna-ssl.com/assets/themes/usi/_inc/img/Unicorn-Sleep-Emblem.svg');
}

/* DARK COLOR */

#adminmenu, 
#adminmenu .wp-submenu, 
#adminmenuback, 
#adminmenuwrap,
#wpadminbar {
  background-color: #253746;
}

.wp-has-current-submenu .wp-submenu {
  background-color: #000000 !important;
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
  background: #3f6b8f;
}

#adminmenu li.menu-top:hover, 
#adminmenu li.opensub>a.menu-top, 
#adminmenu li>a.menu-top:focus {
  color: #fff;
}

#adminmenu li.wp-menu-separator {
  height: 10px;
  background: rgba(0,0,0,0.1);
  margin: 0px;
}

#adminmenu, 
#adminmenu .wp-submenu, 
#adminmenuback, 
#adminmenuwrap {
  width: 140px;
}

#adminmenu .wp-submenu {
  left: 140px;
}

#adminmenu li.menu-top {
  min-height: 30px;
  text-transform: uppercase;
}

#adminmenu .wp-submenu-head, 
#adminmenu a.menu-top {
  font-size: 12px;
  font-weight: 200;
  line-height: 1;
}

#adminmenu div.wp-menu-image {
  width: 25px;
  height: 30px;
}

.dashicons,
.dashicons-before:before {
  font-size: 15px;
}

#wpcontent, 
#wpfooter {
  margin-left: 155px;
  padding: 0px;
}

.postbox {
  background: rgba(215,215,215,0.1);
}

.acf-gallery .acf-gallery-main,
.acf-gallery-attachment {
  background: rgba(15,15,15,0.8);
}

.categorydiv div.tabs-panel, 
.customlinkdiv div.tabs-panel, 
.posttypediv div.tabs-panel, 
.taxonomydiv div.tabs-panel, 
.wp-tab-panel {
  background: rgba(115,115,115,0.1);
}

/*// LOGIN PAGE */

body.login div#login {
  text-align: center;
}

body.login div#login p#nav,
body.login div#login h1 a {
  margin: 0;
  padding: 0;
}

body.login div#login form#loginform p label[for="user_login"] {
  content: " ";
}

body.login div#login h1 a {
  background-size: 100px !important;
  width: 100px !important;
  height: 120px;
  margin: 0 auto;
}

body.login div#login form#loginform {
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}

body.login div#login form#loginform p.submit input#wp-submit {
  width: 100%;
  background: #C3B59C;
  color: #85827B;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-shadow: none;
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
}