/*

 ________   ___  ___   ________   ________   ___  __     ________   ___  ___   ________   ________   ___  __
|\   ____\ |\  \|\  \ |\   __  \ |\   __  \ |\  \|\  \  |\   ____\ |\  \|\  \ |\   __  \ |\   __  \ |\  \|\  \
\ \  \___|_\ \  \\\  \\ \  \|\  \\ \  \|\  \\ \  \/  /|_\ \  \___|_\ \  \\\  \\ \  \|\  \\ \  \|\  \\ \  \/  /|_
 \ \_____  \\ \   __  \\ \   __  \\ \   _  _\\ \   ___  \\ \_____  \\ \   __  \\ \   __  \\ \   _  _\\ \   ___  \
  \|____|\  \\ \  \ \  \\ \  \ \  \\ \  \\  \|\ \  \\ \  \\|____|\  \\ \  \ \  \\ \  \ \  \\ \  \\  \|\ \  \\ \  \
    ____\_\  \\ \__\ \__\\ \__\ \__\\ \__\\ _\ \ \__\\ \__\ ____\_\  \\ \__\ \__\\ \__\ \__\\ \__\\ _\ \ \__\\ \__\
   |\_________\\|__|\|__| \|__|\|__| \|__|\|__| \|__| \|__||\_________\\|__|\|__| \|__|\|__| \|__|\|__| \|__| \|__|
   \|_________|



                    #########
                    ##XXXX#XX####                    #########
                    ###############          #####################
                      ###XXXXXXXXX### ########XXXXXXXXXXXXXXXXXX##
                        #X#XXXXXXX#X#####XX#XXXXXXX XXXXXXX XX###
                         #XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX###
                         ##XXXXXXXXX##XXXXXXXXXXXXXXXXXXXXXXXXX##
                          #XXXXXXXX##XXXXXXXXXXXXXXXXXXXXXXXXX###
                          ##XXXX###XXXXXXXXXXXXXXXXXXXXXXXX#####
                        ####XXX##XXXXXXXXXXXXXXXXXXXXXXX#######
                       ##X##XX#XXXXXXXXXXXXXXXXXXXXXXXX#######
                  #####XXX#XXXXXXXXXXXXXXXXXXXXXXXX##########
         ##########X##XXXXXXXXXXXXXXXXXXXXXXXXXXX###XXX#####
   #######XXXXXXXXX##XXXXXXXXXXXXXXXXXXXXXXXXXX###XXX#######
####XXXXXXXXXXXXXX##XXXXXXXXXXXXXXXXXXXXXXXXX###XXXX##XXXXX#####
##XX###############XXXXXXXXXXXXXXXXXXXXXXX###XXXXXX##XXXXXXXXXX#####
#####            ##XXXXXXXXXXXXXXXXXXXXX###XXXXXXX##XXXXXXXXXXXXXXX###
                ##XXXXXXXXXXXXXXXXXXXX###XXXXXXXX##XXXXXXXXXXXXXXXXXXX###
               ##XXXXXXXXXXXXXXXXXXX###XXXXXXXX#######XXXXXXXXXXXXXXXXXX###
              ##XXXXXXXXXXXXXXXX#####XXXXXXXX###     ############XXXXXXXXX###
             ##XXXXXXXXXXXXX#####XXXXXXXXX###                   ######XXXXXX#
             #XXXXXXXXXXX####XXXXXXXXXX####                          ######X#
            ##XXXXXXXXX###XXXXXXXXXX####                                  ###
           ##XXXXXXXXX##XXXXXXXX#####
           #XXXX#XXXX##XXXXXX####                #####
          ##XXXXXXXX##XXXXX#####              ####XXX#
          #XXXXXXXXX#XXXX###XX#             ###XXXX##
          #XXXXXXXX##XX###XXXX#          ####XXXXXX#
          #XXXXXXXX#X######XXX#        ###XXXXXXXX##
          #XXXXXXXX#X#    #####      ###XXXXXXXXXX#
          #XXXXXXX###        ##    ###XXXXXXXXXXX##
          #XXXXXXX#X#            ###XXXXXXXXX#####
          #XXXXXXX###          ###XXXXXXX#####
          ##XXXXX#X##        ###XXXXXXX###
           #XXXXX####   #####XXXXXXXX##
           ##XXXXXX######XXXXXXXXXX###
           ###XXXXXXXXXXXXXXXXXXX###
           #X##XXXXXXXXXXXXXXXXX##
          ##X####XXXXXXXXXXXXXX##
          ####  ###XXXXXXXXXXX##
          ##      ###XXXXXXXX##
                    #XXXXXXXX#
                     #XXXXXX##
                     #XXXXXX#
                     ##XXXXX#
                      #XXXXX#
                      #XXXXX#
                       #XXXX#
                       ##XXX#
                        #XXXX#
                        ##XXX#
                         ##XX##
                          ##XX##
                           ##XX#
                            ##XX##
                             ##XX##
                              ###X##
                                #####
                                  #####
                                    ###

//// This was created by Will Thresher of SharkShark
//// Programmers: Will T (wt@silvercreativegroup.com)
////
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400|Work+Sans:300,300i,700,700i|Cinzel');

/*/// BANISH */
.dnone,
::-webkit-scrollbar,
#order_review_heading {
  display: none;
}

#page-checkout .woocommerce-info,
.woocommerce form .form-row label,
#page-cart .woocommerce-message,
.woocommerce-shipping-calculator,
.cart-collaterals div.w80 div.w80 .cart-info {
  display: none !important;
}

/*// BRAND */

.whiteT {
  color: #fff;
}

.whiteBorder {
	border-color: #fff;
}

.maxxRedBG {
  background-color: #a94a42;
  position: relative;
}

.usiBlueBG {
  background: #253746;
}

.usiPurpleBG {
	background: #253746;
}

.usiGreenBG {
	background: #519548;
}

.usiGreenT {
  color: #568C79;
}

.borderBottom {
	border-bottom: 1px solid #B9BBC0;
}

.fadeToWhiteT {
	color: #2D1F44;
	transform: translateY(50px);
}

.vh100calc {
  height: calc(100vh - 250px);
}

#parallax-items .layer.inline-block {
  display: inline-block !important;
}

#parallax-items .button {
	border: 0px !important;
}

#parallax-items .button p {
	font-size: 15px;
	text-transform: capitalize;
	margin: 55px 0 0 0;
}

#night-trial {
  position: absolute;
  top: 0px;
  left: 15px;
  opacity: 0;
}

/*/// ANIMATION */
.gFadeIn,
.gFadeInD1,
.gFadeInD2,
.gFadeInD3,
.gFadeInD4,
.gFadeInD5 {
  opacity: 0;
  transform: translateY(25px);
  will-change: transform;
}

.animationHide {
  opacity: 0;
  pointer-events: none;
}

.animationShow {
  opacity: 1;
  pointer-events: all;
}

.transitionDefault {
	-webkit-transition: all 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-moz-transition: all 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-o-transition: all 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/*/// MODAL */
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(205,191,183,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(205,191,183,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(205,191,183,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#cdbfb7',GradientType=1 );
  z-index: 99;
}

.modal {
  width: 70%;
  height: auto;
  position: absolute;
  top: 5%;
  left: calc(50% - 35%);
  background: rgba(255,255,255,1);
  z-index: 999;
}

/*/// TEXT */
p {
  font-size: 1em;
  line-height: 1.75;
  margin: 0 0 25px 0;
}

h1,
h2,
h3,
h4,
#night-trial h4 {
  font-family: 'Cinzel', serif;
  font-weight: 200;
  letter-spacing: 0.05em;
  margin: 0 0 15px 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

.faq-section-box h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
	font-family: 'Work Sans', sans-serif;
}

h5 {
	font-size: 1em;
	font-family: 'Work Sans', sans-serif;
}

.fontSmall {
  font-size: 0.75em;
}

.fontLarge {
	font-size: 2em;
}

.workSans {
  font-family: 'Work Sans', sans-serif;
}

/*/// SETUP */

html {
  position: relative;
  min-height: 100%;
}

body {
	width: 100%;
  font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 17px;
  letter-spacing: 0.025em;
  color: #fff;
	-webkit-font-smoothing: antialiased;
  background-color: #253746;
  margin: 0 0 250px;
}

body.home {
  background-color: #000;
}

body.home #header-site {
  transform: translateY(-100px);
}

body.home #footer-site {
  opacity: 0;
}

.wrapper-site,
.wrapper-content {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 99;
}

body.home .wrapper-main {
	height: 40vh;
}

header,
footer {
  width: 100%;
  position: relative;
  display: block;
}

#header-site {
  position: relative;
  height: 100px;
  z-index: 9999;
}

#footer-site {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 180px;
  width: 100%;
  background: transparent;
  font-size: 0.85em;
  color: #fff;
}

#chat {
	background: rgba(255,255,255,0.95);
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0px 10px 35px rgba(15,15,15,0.15);
  padding: 25px 35px;
  color: #253746;
}

/*/// MENUS */

.woocommerce-MyAccount-navigation {
  display: table;
  width: 100%;
}

.woocommerce-MyAccount-navigation li {
  display: table-cell;
  width: calc(100% / 5);
  height: 40px;
  vertical-align: middle;
  text-align: center;
  padding: 5px 7px;
  margin: 0px 2px;
  border: 2px solid #fff;
}

.menu-inline li {
  height: 100%;
  text-align: center;
  position: relative;
  display: inline-block;
  float: left;
  color: #fff;
}

.menu-inline li a {
  position: relative;
}

#main-navigation li {
  width: calc(100% / 3);
  width: 33.33333333333333%;
  opacity: 0.4;
/*   filter: blur(1.5px); */
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 0.075em;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/*
#main-navigation .lessBlur li{
  filter: blur(0.5px);
}
*/

#main-navigation li:hover,
#main-navigation li.current {
  opacity: 1;
  filter: blur(0px);
}

body.home #menu-main a:before {
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

body.home .logo {
	opacity: 0;
}

#actions li {
  font-size: 0.8em;
}

/*/// OBJECTS */

.zDex {
	z-index: 999;
}

.backGround {
  position: relative;
  z-index: 99;
}

.midGround {
  position: relative;
  z-index: 999;
}

.foreGround {
  position: relative;
  z-index: 9999;
}

.banner {
	position: absolute;
  display: flex;
  width: 100%;
	height: 100%;
  z-index: 99;
  pointer-events: none;
}

#banner-home h1 {
	font-size: 4.5em;
}

#particles{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: transparent;
  overflow: hidden;
  will-change: transform;
}

#particles canvas {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  z-index: 99;
  -webkit-animation: appear 1.75s 1;
  animation: appear 1.75s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0,1.2,0,1.29);
  animation-timing-function: cubic-bezier(0,1.2,0,1.29);
  will-change: transform;
}

#particles:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0; left: 0;
	z-index: 9;
  pointer-events: none;
}

.revealMe {
  opacity: 0;
}

.border-boxes > div {
  padding: 35px 5px 25px 5px;
  border-left: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.border-boxes > div:last-child {
  border-right: 1px solid #FFFFFF;
}

.border-list {
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.border-list li {
  border-top: 1px solid #FFFFFF;
  cursor: pointer;
}

.border-list li:last-child {
  border-bottom: 1px solid #FFFFFF;
}

.chat-bubbles .c-bubble {
	position: relative;
	width: 25%;
	float: left;
	font-size: 0.85em;
	background: rgba(255,255,255,0.25);
	border: 1px solid rgba(100,100,100,0.2);
	padding: 0px 25px 20px 25px;
	margin: 0px 1%;
}

.chat-bubbles .c-bubble:nth-of-type(2) {
	width: 40%;
	font-size: 1.25em;
}

.chat-bubbles .c-bubble:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.chat-bubbles .c-bubble:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: rgba(255,255,255,0.35);
	border-width: 20px;
	margin-left: -20px;
}

#clouds {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 9;
}

#clouds div {
	width: 40%;
	height: 100px;
	box-shadow: 0px 0px 150px rgba(255,255,255,1);
	border-radius: 100%;
	bottom: 100px;
}

.faq-content {
  max-height: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
	-webkit-transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
	-moz-transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
	-o-transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.faq-section-box.selected {
  background: rgba(255,255,255,0.1);
}

#faqs-list li.active .faq-content {
  max-height: 500px;
  padding: 25px 55px 0px 55px;
}

#faqs-list li.active h3 {
  color: #fff;
  background-color: #2A1538;
}

#faqs-list li.filtered {
  background-color: rgba(255,255,255,0.1);
}

#page-shop .flex {
	min-height: 400px;
}

.images-diagonal {
	width: 110%;
	height: calc(100vh - 120px);
}

.images-diagonal > div {
	height: 100%;
	width: calc(100% / 4);
	width: 25%;
	float: left;
	overflow: hidden;
	margin: 0px 0px 0px -30px;
}

.images-diagonal > div img {
	height: 100%;
	width: auto;
	min-width: 100%;
	float: right;
	-webkit-transform: skew(5deg);
	-moz-transform: skew(5deg);
	-o-transform: skew(5deg);
}

.images-diagonal > div.floatLeft img {
  float: left
}

.parallelogram {
	-webkit-transform: skew(-5deg);
	   -moz-transform: skew(-5deg);
	     -o-transform: skew(-5deg);
		 /* IE8+ - must be on one line, unfortunately */
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.08748866352592455, M21=-0.08748866352592455, M22=1, SizingMethod='auto expand')";
   /* IE6 and 7 */
   filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=1,
            M12=-0.08748866352592455,
            M21=-0.08748866352592455,
            M22=1,
            SizingMethod='auto expand');
}

.anti-parallelogram {
	-webkit-transform: skew(5deg);
	   -moz-transform: skew(5deg);
	     -o-transform: skew(5deg);
	     /* IE8+ - must be on one line, unfortunately */
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0.08748866352592415, M21=0.08748866352592415, M22=1, SizingMethod='auto expand')";

   /* IE6 and 7 */
   filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=1,
            M12=0.08748866352592415,
            M21=0.08748866352592415,
            M22=1,
            SizingMethod='auto expand');
}

#emblem {
	position: relative;
	width: 250px;
	will-change: transform;
}

#emblem svg {
	width: 100%;
}

#emblem > div {
	position: absolute;
	top: 0;
	left: 0;
}

#emblem-2 {
	opacity: 0;
}

/* WOOCOMMERCE */

#page-cart form {
	padding: 25px 0px 0px 0px;
}

#page-cart .woocommerce table.shop_table,
.woocommerce-MyAccount-orders {
	font-weight: 300;
	border: 1px solid rgba(100,100,100,0.2);
	border-radius: 0px;
}

.woocommerce-MyAccount-content table {
  width: 100%;
  position: relative;
  display: block;
  margin: 15px 0px 0px 0px;
}

.woocommerce-MyAccount-content table td {
  padding: 15px;
  vertical-align: middle;
  text-align: center;
}

.woocommerce-MyAccount-content table th {
  padding: 5px;
  vertical-align: middle;
  background: rgba(255,255,255,0.15);
  text-align: center;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background-color: #568c79 !important;
}

#page-cart .woocommerce a.remove {
  color: #a35959 !important;
}

#page-cart .woocommerce a.remove:hover {
  background-color: #a35959 !important;
  color: #fff !important;
}

#add_payment_method .cart-collaterals .cart_totals tr td, #add_payment_method .cart-collaterals .cart_totals tr th, .woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce-checkout .cart-collaterals .cart_totals tr td, .woocommerce-checkout .cart-collaterals .cart_totals tr th {
  border-top: 0px !important;
}

.woocommerce-message {
	border-top-color: transparent !important;
	background-color: #568C79 !important;
	color: #fff !important;
}

.woocommerce-message:before {
	color: #fff !important;
}

#page-cart .woocommerce table.shop_table th {
	font-family: 'Raleway', sans-serif;
	padding: 15px 12px;
	background: rgba(255,255,255,0.1);
	vertical-align: middle;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	background: #fff !important;
	border: 1px solid #CCCCCC !important;
}

.woocommerce-billing-fields,
.woocommerce-shipping-fields,
#main-cart table,
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment,
body.woocommerce-order-received .woocommerce {
	background: rgba(255,255,255,0.1) !important;
	border: 1px solid transparent !important;
	padding: 0px;
}

body.woocommerce-order-received .woocommerce {
  margin: 0 auto;
  width: 80%;
}

.woocommerce-billing-fields,
.woocommerce-shipping-fields,
body.woocommerce-order-received .woocommerce {
  padding: 25px;
  position: relative;
}

#page-cart .woocommerce table.shop_table td {
	padding: 20px 12px;
}

.woocommerce td.product-name dl.variation dt,
.woocommerce td.product-name dl.variation dd,
.woocommerce td.product-name dl.variation dd p {
  margin: 0 !important;
  padding: 0 5px 0 0 !important;
  line-height: 1 !important;
}

.woocommerce .cart-collaterals .cart_totals table,
.woocommerce-page .cart-collaterals .cart_totals table,
.woocommerce-checkout-review-order {
	background: rgba(255,255,255,0.1);
	box-shadow: 0px 15px 25px rgba(15,15,15,0.05);
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2,
.woocommerce-checkout-review-order {
	width: 70% !important;
	margin: 25px auto !important;
	float: none !important;
	position: relative;
	box-shadow: 0px 0px 20px 0px rgba(15,15,15,0.05);
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
	width: 50% !important;
}

.cart-info i {
  font-size: 2em;
  color: #fff;
}

.steps > div:not(:first-child) {
  display: none;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message,
.wrapper-main .woocommerce-message {
  padding: 0.85em 2em 1em 3.5em!important;
  position: relative;
  background-color: rgba(255,255,255,0.1);
  color: #eee;
  border-top: 3px solid #6483a3;
  list-style: none!important;
  width: 80% !important;
  margin: 0 auto !important;
  word-wrap: break-word;
  font-size: 20px !important;
}

.woocommerce-error .button, .woocommerce-info .button, .woocommerce-message .button {
  font-size: 15px !important;
}

.select2-container .select2-choice {
  border-radius: 0px !important;
  outline: none !important;
}

/* HOME */
/*
#maxx-home img:first-child {
	left: -20px;
	top: -50px;
	z-index: 99;
}

#maxx-home .layer2 {
	bottom: -20px;
	left: -20px;
	z-index: 9;
}

#invest-home img {
	right: -50px;
	top: -150px;
}

#handmade-home {
	left: -100px;
	top: -150px;
}
*/

/* SHOP */

img#maxx-mattress {
  bottom: -50px;
  z-index: 9;
}

#maxx-shop-header {
  background: url(../img/MaxBG.png) repeat;
}

#maxx-shop-header:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0; left: 0;
  background: -moz-linear-gradient(top,  rgba(169,74,66,0) 0%, rgba(169,74,66,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(169,74,66,0) 0%,rgba(169,74,66,1) 100%);
  background: linear-gradient(to bottom,  rgba(169,74,66,0) 0%,rgba(169,74,66,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a94a42', endColorstr='#a94a42',GradientType=0 );
  z-index: 99;
  pointer-events: none;
}

.cloud-container {
	position: absolute;
	bottom: 0;
}

#cloud-1,
#cloud-2 {
	bottom: -200px;
}

ul.disc {
  list-style: disc;
  line-height: 1.75;
}

#stripe-payment-data label[for="wc-stripe-new-payment-method"],
#page-checkout label[for="createaccount"] {
  display: inline !important;
}

#page-checkout label[for="ship-to-different-address-checkbox"] {
  float: left;
  width: auto;
}

#page-checkout #ship-to-different-address-checkbox {
  position: absolute;
  margin: 15px;
  right: 15px;
}

/*/// INPUTS */

::selection { background: #3A4B58; color: rgba(255,255,255,0.7); }
::-moz-selection { background: #3A4B58; color: rgba(255,255,255,0.7); }
::-webkit-input-placeholder {color: #444;}
:-moz-placeholder {color: #444;}
::-moz-placeholder {color: #444;}
:-ms-input-placeholder {color: #444;}

.input-container {
  position: relative;
	width: 100%;
	padding: 5px;
}

label {
  display: block;
  position: relative;
  padding: 0px;
  opacity: 1;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="search"],
input[type="password"],
textarea,
select {
  width: 100%;
  height: 100%;
  position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0px;
	border: 0px;
	outline: 0px;
	padding: 8px 12px;
	background-color: rgba(239,237,236,0.8);
	color: rgba(15,15,15,0.8);
	z-index: 9;
	border-bottom: 2px solid transparent;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.product select {
	height: auto;
}

#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
	min-width: 170px;
	height: 35px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="date"]:hover,
input[type=search]:hover,
textarea:hover,
select:hover {
  border-bottom: 2px solid #406b8e;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type=search]:focus,
textarea:focus,
select:focus,
input.hasVal {
  border-bottom: 2px solid #253746;
}

.button,
input[type="submit"],
.wc-proceed-to-checkout a,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	border: 0px !important;
	outline: 0px !important;
	text-transform: uppercase !important;
	background-color: transparent !important;
	color: #fff !important;
  border: 2px solid #fff !important;
  border-radius: 0px !important;
  padding: 7px 10px !important;
  font-weight: 600 !important;
  cursor: pointer !important;
	-webkit-transition: all 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
	-moz-transition: all 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
	-o-transition: all 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

input[type="submit"].opWhiteButton {
  border: 2px solid #253746 !important;
  color: #253746 !important;
}

.product-display .button {
  margin: 3px 0px;
}

.whiteButton {
	color: rgba(255,255,255,0.1);
	border-color: rgba(255,255,255,0.1);
}

.whiteBG {
  background: #fff;
}

.button:hover,
input[type="submit"]:hover {
	background-color: #2e5573 !important;
	color: #fff;
}

.big-search {
  padding: 20px;
  font-size: 1.5em;
  border-radius: 0px;
  outline: 0px;
  border: 0px solid #B9BBC0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.select-container select {
  cursor: pointer;
}

.select-container:after {
  content: '\f107';
  font-family: FontAwesome;
  color: #555;
  z-index: 999;
  position: absolute;
  width: 25px;
  padding: 8px 0;
  height: 100%;
  right: 0;
  top: 0;
  pointer-events: none;
}

#footer-site input {
  width: auto;
  height: auto;
  max-height: 32px;
}

#footer-site input[type="submit"] {
  font-size: .9em;
  color: #fff;
}

body.home .button {
  position: relative;
  min-width: 220px;
  min-height: 50px;
  font-size: 2em;
  font-weight: 300 !important;
  font-family: 'Cinzel', serif;
  padding: 7px 15px;
  text-align: center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

body.home .button:hover {
	background-color: transparent !important;
	color: #fff;
}

body.home .button span:before,
body.home .button span:after {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0;border-radius: 100%;
}

body.home .button:hover span:before,
body.home .button:hover span:after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  filter: blur(50px);
  background: rgba(255,255,255,0.5);
  opacity: 0.1;
  -webkit-animation: spinMeRightRound 3s;
  animation: spinMeRightRound 3s;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  will-change: transform;
}

body.home .button:hover span:after {
  filter: blur(30px);
  background: rgba(155,155,255,0.7);
  -webkit-animation: spinMeRightRound2 7s;
  animation: spinMeRightRound2 7s;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  will-change: transform;
  
}

body.home .button span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  background: transparent;
  box-shadow: none;
/*
	-webkit-transition: box-shadow 0.4s ease;
	-moz-transition: box-shadow 0.4s ease;
	-o-transition: box-shadow 0.4s ease;
	transition: box-shadow 0.4s ease;
*/
	will-change: transform;
}

/*/// MODAL */
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.79) 25%, rgba(255,255,255,0.9) 84%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.79) 25%,rgba(255,255,255,0.9) 84%);
  background: radial-gradient(ellipse at center,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.79) 25%,rgba(255,255,255,0.9) 84%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#e6ffffff',GradientType=1 );
  z-index: 9999;
}

.modal {
  width: 50%;
  height: auto;
  position: absolute;
  top: 2%;
  left: calc(50% - 25%);
  background: rgba(255,255,255,1);
  z-index: 99999;
}

/* ANIMATIONS */
@keyframes appear{
  from {
    transform: scale(0);
    opacity:0;
  }
  to {
    transform: scale(1);
    opacity:1;
  }
}

@keyframes radial {

	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 60px;
	}

}

@keyframes spinMeRightRound {

	0% {
		transform: rotate(0deg);
		opacity: 0.1;
	}
	50% {
		transform: rotate(180deg);
		transform: skew(500px);
		height: 200%;
		border-radius: 100%;
		opacity: 0.2;
		filter: blur(50px);
	}
	100% {
		transform: rotate(0deg);
		opacity: 0.1;
	}

}

@keyframes spinMeRightRound2 {

	0% {
		transform: rotate(0deg);
		opacity: 0.1;
	}
	50% {
		transform: rotate(-360deg);
		transform: skew(500px);
		height: 200%;
		border-radius: 100%;
		opacity: 0.4;
		filter: blur(80px);
		background: rgba(99, 249, 244, 0.8);
	}
	100% {
		transform: rotate(0deg);
		opacity: 0.1;
	}

}

}