.mobile-hide{display: auto;}
.mobile-show{display: none;}

@media print {
  header,
  footer {
    display: none !important;
  }
}

/* ----------- 960px wide -------------------- */
@media screen and (max-width: 960px) {
  .mobile-hide,#main-navigation .mobile-hide{display: none !important}
  .mobile-show{display: block}
  body {
    font-size: 75%;
  }
}

/* ----------- 640px wide -------------------- */
@media screen and (max-width: 640px) {

  .w100 .w33,
  .w100 .w40,
  .w100 .w45,
  .w100 .w50,
  .w100 .w55,
  .w100 .w60,
  .w100 .w65,
  .w100 .w70,
  .w100 .w75,
  .w100 .w80,
  #main-navigation div {
    width: 100%;
    width: calc(100%);
  }

  #footer-site .tableCell.w20 {
    width: 50%;
    width: calc(100% / 2);
    float: left;
  }

  #footer-site .tableCell {
    float: left;
  }

  .modal {
    width: 90%;
    left: calc(50% - 45%);
  }

  #main-navigation div,
  #parallax-items div,
  #footer-site .tableCell,
  .product-display .w45,
  .product-display .w55 {
    display: block;
    height: auto;
    padding: 0;
  }

  #parallax-items,
  #parallax-items div {
    margin: 10% 0 0 0;
  }

  body.home .button {
	  min-height: 35px;
  }

  .logo img {
    width: 40px;
  }

  #main-navigation li {
    padding: 10px 0px;
  }

  .wrapper-page {
    padding: 55px 0 0 0;
  }

  .product-display {
    padding: 0 0 55px 0;
  }

  #footer-site input {
    max-width: 90px;
  }
  
  #main-cart,
  body.woocommerce-order-received .woocommerce,
  .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2, .woocommerce-checkout-review-order {
    width: 100% !important;
    padding: 0px !important;
    margin: 0 auto !important;
  }
  
  #add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
    height: 30px !important;
    width: 120px !important;
    min-width: 120px !important;
  }

}