/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
/* FLICKITY */.flickity-enabled{position:relative}.flickity-enabled:focus{outline:none}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-prev-next-button{position:absolute;top:50%;width:44px;height:44px;border:none;border-radius:50%;background:white;background:hsla(0, 0%, 100%, 0.75);cursor:pointer;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.flickity-prev-next-button:hover{background:white}.flickity-prev-next-button:focus{outline:none;box-shadow:0 0 0 5px #09F}.flickity-prev-next-button:active{filter:alpha(opacity=60);opacity:0.6}.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}.flickity-prev-next-button:disabled{filter:alpha(opacity=30);opacity:0.3;cursor:auto}.flickity-prev-next-button svg{position:absolute;left:20%;top:20%;width:60%;height:60%}.flickity-prev-next-button .arrow{fill:#333}.flickity-prev-next-button.no-svg{color:#333;font-size:26px}.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}.flickity-rtl .flickity-page-dots{direction:rtl}.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;filter:alpha(opacity=25);opacity:0.25;cursor:pointer}.flickity-page-dots .dot.is-selected{filter:alpha(opacity=100);opacity:1}
/* ____________ WT FRAMEWORK */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:0}
dir,div,menu,ul{list-style-type:none;-webkit-margin-before:0;-webkit-margin-after:0;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-start:0}

/* WIDTH */
.w5{width:5%}
.w10{width:10%}
.w15{width:15%}
.w20{width:20%}
.w25{width:25%;}
.w30{width:30%}
.input-container.w33,.w33{width:33.33%}
.w35{width:35%;}
.w40{width:40%}
.w45{width:45%;}
.input-container.w50,.w50{width:50%}
.w55{width:55%}
.w60{width:60%}
.w65{width:65%}
.w70{width:70%}
.w75{width:75%}
.w80{width:80%}
.w85{width:85%}
.w90{width:90%}
.w100{width:100%}
.wauto{width:auto}

/* HEIGHT */
.h5{height:5%}
.h10{height:10%}
.h15{height:15%}
.h20{height:20%}
.h25{height:25%;}
.h30{height:30%}
.h33{height:33.33%}
.h35{height:35%;}
.h40{height:40%}
.h45{height:45%;}
.h50{height:50%}
.h60{height:60%}
.h65{height:65%}
.h70{height:70%}
.h75{height:75%}
.h80{height:80%}
.h90{height:90%}
.h100{height:100%}

/* MARGIN */
.m0a{margin:0 auto}
.m0,figure{margin:0}
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m25{margin:25px}
.m30{margin:30px}
.m35{margin:35px}
.m40{margin:40px}
.m45{margin:45px}
.m50{margin:50px}
.m55{margin:55px}
.m60{margin:60px}
.m65{margin:65px}
.m70{margin:70px}
.m75{margin:75px}
.m80{margin:80px}
.m85{margin:85px}
.m90{margin:80px}
.m95{margin:85px}
.m100{margin:100px}

/* MARGIN - LEFT */
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.ml35{margin-left:35px}
.ml40{margin-left:40px}
.ml45{margin-left:45px}
.ml50{margin-left:50px}
.ml55{margin-left:55px}
.ml60{margin-left:60px}
.ml65{margin-left:65px}
.ml70{margin-left:70px}
.ml75{margin-left:75px}
.ml80{margin-left:80px}
.ml85{margin-left:85px}
.ml90{margin-left:80px}
.ml95{margin-left:85px}
.ml100{margin-left:100px}

/* MARGIN - TOP */
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mt40{margin-top:40px}
.mt45{margin-top:45px}
.mt50{margin-top:50px}
.mt55{margin-top:55px}
.mt60{margin-top:60px}
.mt65{margin-top:65px}
.mt70{margin-top:70px}
.mt75{margin-top:75px}
.mt80{margin-top:80px}
.mt85{margin-top:85px}
.mt90{margin-top:80px}
.mt95{margin-top:85px}
.mt100{margin-top:100px}

/* MARGIN - RIGHT */
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr30{margin-right:30px}
.mr35{margin-right:35px}
.mr40{margin-right:40px}
.mr45{margin-right:45px}
.mr50{margin-right:50px}
.mr55{margin-right:55px}
.mr60{margin-right:60px}
.mr65{margin-right:65px}
.mr70{margin-right:70px}
.mr75{margin-right:75px}
.mr80{margin-right:80px}
.mr85{margin-right:85px}
.mr90{margin-right:80px}
.mr95{margin-right:85px}
.mr100{margin-right:100px}

/* MARGIN - BOTTOM */
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb35{margin-bottom:35px}
.mb40{margin-bottom:40px}
.mb45{margin-bottom:45px}
.mb50{margin-bottom:50px}
.mb55{margin-bottom:55px}
.mb60{margin-bottom:60px}
.mb65{margin-bottom:65px}
.mb70{margin-bottom:70px}
.mb75{margin-bottom:75px}
.mb80{margin-bottom:80px}
.mb85{margin-bottom:85px}
.mb90{margin-bottom:80px}
.mb95{margin-bottom:85px}
.mb100{margin-bottom:100px}

/* PADDING */
.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.p25{padding:25px}
.p30{padding:30px}
.p35{padding:35px}
.p40{padding:40px}
.p45{padding:45px}
.p50{padding:50px}
.p55{padding:55px}
.p60{padding:60px}
.p65{padding:65px}
.p70{padding:70px}
.p75{padding:75px}
.p80{padding:80px}
.p85{padding:85px}
.p90{padding:80px}
.p95{padding:85px}
.p100{padding:100px}

/* PADDING - LEFT */
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl30{padding-left:30px}
.pl35{padding-left:35px}
.pl40{padding-left:40px}
.pl45{padding-left:45px}
.pl50{padding-left:50px}
.pl55{padding-left:55px}
.pl60{padding-left:60px}
.pl65{padding-left:65px}
.pl70{padding-left:70px}
.pl75{padding-left:75px}
.pl80{padding-left:80px}
.pl85{padding-left:85px}
.pl90{padding-left:80px}
.pl95{padding-left:85px}
.pl100{padding-left:100px}

/* PADDING - TOP */
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt25{padding-top:25px}
.pt30{padding-top:30px}
.pt35{padding-top:35px}
.pt40{padding-top:40px}
.pt45{padding-top:45px}
.pt50{padding-top:50px}
.pt55{padding-top:55px}
.pt60{padding-top:60px}
.pt65{padding-top:65px}
.pt70{padding-top:70px}
.pt75{padding-top:75px}
.pt80{padding-top:80px}
.pt85{padding-top:85px}
.pt90{padding-top:80px}
.pt95{padding-top:85px}
.pt100{padding-top:100px}

/* PADDING - RIGHT */
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}
.pr35{padding-right:35px}
.pr40{padding-right:40px}
.pr45{padding-right:45px}
.pr50{padding-right:50px}
.pr55{padding-right:55px}
.pr60{padding-right:60px}
.pr65{padding-right:65px}
.pr70{padding-right:70px}
.pr75{padding-right:75px}
.pr80{padding-right:80px}
.pr85{padding-right:85px}
.pr90{padding-right:80px}
.pr95{padding-right:85px}
.pr100{padding-right:100px}

/* PADDING - BOTTOM */
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb25{padding-bottom:25px}
.pb30{padding-bottom:30px}
.pb35{padding-bottom:35px}
.pb40{padding-bottom:40px}
.pb45{padding-bottom:45px}
.pb50{padding-bottom:50px}
.pb55{padding-bottom:55px}
.pb60{padding-bottom:60px}
.pb65{padding-bottom:65px}
.pb70{padding-bottom:70px}
.pb75{padding-bottom:75px}
.pb80{padding-bottom:80px}
.pb85{padding-bottom:85px}
.pb90{padding-bottom:80px}
.pb95{padding-bottom:85px}
.pb100{padding-bottom:100px}

/* DISPLAY */
.dnone{display:none}
.inline{display:inline}
.block,dir,menu,ul{display:block}
.inline-block{display:inline-block}
.table{display:table}
.tableCell{display:table-cell}
.tableRow{display:table-row}
.tableColumn{display:table-column}
.borbox{box-sizing:border-box;}
.ohidden{overflow:hidden;}

/* POSTION */
.absolute{position:absolute}
.relative{position:relative}
.fixed{position:fixed}
.static{position:static}
.clear{clear:both}.clearL{clear:left}.clearR{clear:right}
.clearfix:before,.clearfix:after{content:"";display:table;}.clearfix:after{clear: both;}.clearfix{zoom: 1;}
.b0{bottom:0}
.t0{top:0}
.r0{right:0}
.l0{left:0}
.valignM{vertical-align: middle}

/* FLOAT */
.right{float:right}
.left{float:left}

/* TEXT ALIGN */
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}
.tan{text-align:none}
.uppercase{text-transform: uppercase}
.lowercase{text-transform: lowercase}
.capitalize{text-transform: capitalize}
address{font-style:normal}
ul.split {
  line-height: 1.5;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}

/* VERTICAL ALIGN */
.vat{vertical-align:top}
.vam{vertical-align:middle}
.vab{vertical-align:bottom}
.vaSub{vertical-align:sub}
.vaSup{vertical-align:super}
.flex{align-items:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align: center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.flex-item{max-width:80%}
.flex-top {align-self:flex-start;max-width:50%}
.flex-bottom {align-self:flex-end;max-width:50%}

/* FONT/LINK */
a{text-decoration:none;color: inherit}
.pe{pointer-events: auto;}
.darkT{color:rgba(25,25,25,.5)}
.lightT{color:rgba(255,255,255,.5)}
.bold,strong{font-weight:bold}
.underline{text-decoration:underline}
.pointer{cursor:pointer}
.italic{font-style:italic}
h1,h2,h3,h4,h5 {margin:0px;-webkit-margin-before:0;-webkit-margin-after:0;-webkit-margin-start:0px;-webkit-margin-end:0px;}

/* ANIMATION DELAYS */
.twoMsDelay{animation-delay: 0.02s;-webkit-animation-delay: 0.02s;-moz-animation-delay: 0.02s;}
.fourMsDelay{animation-delay: 0.04s;-webkit-animation-delay: 0.04s;-moz-animation-delay: 0.04s;}
.oneDelay{animation-delay: 1s;-webkit-animation-delay: 1s;-moz-animation-delay: 1s;}
.twoDelay{animation-delay: 2s;-webkit-animation-delay: 2s;-moz-animation-delay: 2s;}

/* FOCUS POINT SUPPORT */
.focuspoint{position:relative;overflow:hidden;width:100%;height: 100%;}.focuspoint img{position:absolute;left:0;top:0;margin:0;display:block;width:auto;height:auto;min-width:100%;min-height:100%;max-height:none;max-width:none}
